.sidebar {
    height: 100%;
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    background-color: #f8f9fa;
    z-index: 999;
    transition: left 0.3s ease;
  }
  
  .sidebar.open {
    left: 0;
  }
  
  .sidebar-toggle {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
  }
  
  .nav-icon {
    margin-right: 10px;
  }
  
  .main-content {
    margin-left: 200px; /* Adjust this value to match the sidebar width */
    padding: 15px;
    /* Add any additional styles for the main content here */
  }
  